<connectionStrings>
  <clear/>
  <add name="prod"
     providerName="MySql.Data"
     connectionString="database=your_db;user id=your_user;password=your_password;server=1.2.3.4;pooling=True;compress=True;cacheserverproperties=True;autoenlist=True" />
  <add name="migrate"
     providerName="MySql.Data"
     connectionString="database=your_db;user id=your_user;password=your_password;server=1.2.3.4;pooling=True;compress=True" />
</connectionStrings>