<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Uh Oh.</title>
</head>
<body>
    <div>
        You done borked something.
    </div>
</body>
</html>
