<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Site Offline</title>
</head>
<body>
    <div>
        The site is unavailable for some reason.
    </div>
</body>
</html>
